# Entrada de datos por teclado
Se consigue utilizando la instrucción input() que lee y devuelve una cadena:

In [3]:
valor = input()

hola mundo

In [4]:
valor

'hola mundo'

In [5]:
print(type(valor))

<class 'str'>

In [3]:
valor = input()

100

In [4]:
# Aunque leemos un número, en realidad es una cadena de texto
valor

'100'

In [5]:
print(type(valor))

<class 'str'>

In [5]:
# Podemos mostrar un mensaje antes de leer el valor
valor = input("Introduce un valor: ")

Introduce un valor: 100

In [6]:
# Una cadena y un número no se pueden operar
valor + 100

TypeError: Can't convert 'int' object to str implicitly

## Cast con int(), de cadena a entero

In [8]:
valor = input("Introduce un número entero: ")

Introduce un número entero: 500

In [9]:
# La función int() de entero, devuelve un número entero a partir de una cadena
valor = int(valor)

In [10]:
valor

500

In [11]:
print(type(valor))

<class 'int'>

In [12]:
valor + 1000  # Ahora ya es operable

1500

In [13]:
# También se puede realizar en una única linea:
valor = int(input("Introduce un número entero: "))

Introduce un número entero: 500

In [14]:
print(type(valor))

<class 'int'>

## Cast con float(), de cadena a flotante

In [17]:
valor = input("Introduce un número entero: ")

Introduce un número entero: 10.5

In [18]:
# La función float() de flotante, devuelve un número flotante a partir de una cadena
valor = float(valor)

In [19]:
10 + valor

20.5

In [20]:
valor

10.5

In [21]:
print(type(valor))

<class 'float'>

In [23]:
valor = float( input("Introduce un número decimal o entero: ") )

Introduce un número decimal o entero: 3.14

In [24]:
valor

3.14

In [25]:
print(type(valor))

<class 'float'>

## Introducir múltiples valores

In [1]:
valores = []
print("Introduce 3 valores")
for x in range(3):
    valores.append( input("Introduzca un valor: ") )
print(valores)

Introduce 3 valores
Introduzca un valor: 5
Introduzca un valor: 6
Introduzca un valor: 4
['5', '6', '4']