# Ejercicios Modulo 5. Bases de datos con SQLite (Soluciones)

Consideraciones a tener en cuenta: 

* Guardar este documento con el siguiente formato para su entrega: __M5_04_nombre_apellido1_apellido2__
* Realizar los ejercicios con las herramientas vistas en las sesiones. 
* Comentar el código
* Utilizar nombres de variables apropiados, si vais a guardar una nota, llamar a esa variable nota, no n o x

**1) Practiquemos un poco con SQLite:**

* Crea una base de datos que se llame biblioteca
* Crea las siguiente tablas (deberás poner los tipos de los atributos con lógica, investiga cuales hay en SQLite para poder hacerlo):
    * autor(dni, nombre, apellidos, estarVivo)
    * libro(isbn, titulo, editorial, año_escrito)
    * usuario(dni, nombre, apellidos, numPrestamos)
* Inserta al menos 3 registros en cada una de las tablas
    * En autor, algunos vivos y otros muertos
    * En libro, algunos con año de escritura anerior a 1900 y otros después
    * En usuario, algunos con más de 10 prestamos y otros con menos
* Comprueba que todo este correcto con DB Browser (SQLite)
* Realiza las siguientes consultas:
    * Lista a todos los autores
    * Lista todos los libros
    * Lista todos los usuarios
    * Lista todos los autores que esten vivos (CLAUSULA WHERE)
    * Lista todos los libros que hayan sido escritos posteriormente a 1900
    * Lista todos los usuarios que se hayan llevado más de 10 libros y que se llamen Paco

In [2]:
# Completa el ejercicio aquí

# importamos la librería
import sqlite3

In [4]:
# conectamos con la base de datos
conexion = sqlite3.connect("biblioteca.db")

# creamos las tablas

# primero creamos el cursor
cursor = conexion.cursor()

# creamos las tablas
cursor.execute("CREATE TABLE autor (dni VARCHAR(9), nombre VARCHAR(50) NOT NULL, apellidos VARCHAR(100) NOT NULL, estarVivo BOOLEAN NOT NULL)")
cursor.execute("CREATE TABLE libro (isbn VARCHAR(13), titulo VARCHAR(300) NOT NULL, editorial VARCHAR(50) NOT NULL, año_escrito SMALLINT)")
cursor.execute("CREATE TABLE usuario (dni VARCHAR(9), nombre VARCHAR(30) NOT NULL, apellidos VARCHAR(30) NOT NULL, numPrestamos SMALLINT DEFAULT(0))")

# guardamos cambios y escribimos en la base de datos
conexion.commit()

# cerramos la conexion
conexion.close()

In [17]:
import sqlite3

# conectamos con la base de datos
conexion = sqlite3.connect("biblioteca.db")
cursor = conexion.cursor()

# creamos la lista con varios autores
autores = [('24958385M','Gabriel', 'García Márquez', False),
           ('35098327J','Paulo', 'Coelho', True),
           ('---------','Miguel', 'De Crevantes Saavedra', False),
           ('35034562L','Sandra', 'Berneda', True),
           ('---------', 'Dante', 'Alighieri', False)]
cursor.executemany("INSERT INTO autor VALUES (?,?,?,?)", autores)

# creamos la lista con varios libros
libros = [('9788466346825', 'Crónica de una muerte anunciada', 'DEBOLSILLO', 1981),
           ('9788408130451', 'El Alquimista', 'PLANETA', 1988),
           ('9788467016901', 'Don Quijote de la Mancha', 'S.L.U. ESPASA LIBROS', 1605),
           ('9788483655085', 'Reir al Viento', 'SUMA', 2013),
           ('9788415014973', 'Divina comedia', 'SIAL', 1308)]
cursor.executemany("INSERT INTO libro VALUES (?,?,?,?)", libros)

# creamos la lista con varios usuarios
usuarios = [('37489583P', 'José', 'Gómez', 5),
           ('259284183S', 'Antonio', 'Pérez', 12),
           ('79284729G', 'Paco', 'González', 16),
           ('19584736T', 'Sebastián', 'Martín', 1),
           ('49682758D', 'Jorge', 'Ruíz', 8)]
cursor.executemany("INSERT INTO usuario VALUES (?,?,?,?)", usuarios)

# guardamos cambios y escribimos en la base de datos
conexion.commit()
conexion.close()

In [41]:
import sqlite3

conexion = sqlite3.connect("biblioteca.db")
cursor = conexion.cursor()

cursor.execute("SELECT * FROM autor")

autores = cursor.fetchall()

print("\tAUTORES\n")
for autor in autores:
    print(autor[1], autor[2] )

cursor.execute("SELECT * FROM libro")

libros = cursor.fetchall()

print("\n\tLIBROS\n")
for libro in libros:
    print(libro[1])
    
cursor.execute("SELECT * FROM usuario")

usuarios = cursor.fetchall()

print("\n\tUSUARIOS\n")
for usuario in usuarios:
    print(usuario[1],usuario[2])
    
cursor.execute("SELECT * FROM autor WHERE estarVivo = True")

autores = cursor.fetchall()

print("\n\tAUTORES VIVOS\n")
for autor in autores:
    print(autor[1],autor[2])
    
cursor.execute("SELECT * FROM libro WHERE año_escrito > 1900")

libros = cursor.fetchall()

print("\n\tLIBROS ESCRITO POSTERIOR A 1900\n")
for libro in libros:
    print(libro[1],libro[2])
    
cursor.execute("SELECT * FROM usuario WHERE numPrestamos > 10 AND nombre = 'Paco'")

usuarios = cursor.fetchall()

print("\n\tUSUARIOS QUE SE HAYAN LLEVADO MAS DE 10 LIBROS Y SE LLAMEN PACO\n")
for usuario in usuarios:
    print(usuario[1],usuario[2], usuario[3], "Libros ")
    
conexion.commit()
conexion.close()

	AUTORES

Gabriel García Márquez
Paulo Coelho
Miguel De Crevantes Saavedra
Sandra Berneda
Dante Alighieri

	LIBROS

Crónica de una muerte anunciada
El Alquimista
Don Quijote de la Mancha
Reir al Viento
Divina comedia

	USUARIOS

José Gómez
Antonio Pérez
Paco González
Sebastián Martín
Jorge Ruíz

	AUTORES VIVOS

Paulo Coelho
Sandra Berneda

	LIBROS ESCRITO POSTERIOR A 1900

Crónica de una muerte anunciada DEBOLSILLO
El Alquimista PLANETA
Reir al Viento SUMA

	USUARIOS QUE SE HAYAN LLEVADO MAS DE 10 LIBROS Y SE LLAMEN PACO

Paco González 16 Libros